---
layout: default
---

<div id="header">
  <h2> {{page.title}} {
    {% for post in site.posts | where:"ref", page.ref %}
      {% if post.lang != page.lang %}
        <a href="{{ post.url }}" class="orange">{{ post.lang }}</a>
      {% else %}
        {{ post.lang }}
      {% endif %}
    {% endfor %}
  }
  </h2>
  <h5> {{page.date | date: '%B %d, %Y'}} </h5>
</h3>
</div>

<div id="post">
{{ content }}
</div>


<div id="comments">
	{% include comments.html %}
</div>

<div id="related">
  <h3>Possibly related posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<!-- This is for code colorization which doesn't seem to work very well in IE... I guess Dan don't care very much -->
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shCore.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushRuby.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushPhp.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushXml.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushCss.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushBash.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushJScript.js"></script>
<script language="javascript">
dp.SyntaxHighlighter.ClipboardSwf = 'http://communicatopia.s3.amazonaws.com/js/clipboard.swf';
//name, showGutter, showControls, collapseAll, firstLine , showColumns
dp.SyntaxHighlighter.HighlightAll('code',false, false,false,1,false);
</script>
